.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 30;
    margin: 0;
    padding: 1rem;
    background-color: #282c34;
    z-index: 10;
    margin-top: 0;
  }

.avatar {
  margin: 30px;
}

.fileList {
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
